name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps: 
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: SetUp Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Github Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract short SHA
      id: vars
      run: echo "SHA_TAG=${GITHUB_SHA::7}" >> $GITHUB_EN V

    - name: Debug image tag
      run: |
       echo "Repo: ${{ github.repository_owner }}"
       echo "SHA: ${{ github.sha }}"

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ghcr.io/${{ github.repository_owner }}:${{ github.sha }}